
        /* Modified by Hyde */

    /* Modify/add style in ~/.config/waybar/styles/ */
    /*@import "/home/wiskas/.local/share/waybar/styles/hyprdots.css";*/

    /* Imports wallbash colors */
    /*@import "/home/wiskas/.cache/hyde/wallbash/gtk.css";*/

    /* Colors and theme configuration is generated through the `theme.css` file */
    /*@import "theme.css";*/

    /* Users who want to override the current style add/edit 'user-style.css' */
    /*@import "user-style.css";*/

    @define-color bar-bg rgba(0, 0, 0, 0);

    @define-color main-bg #11111b;
    @define-color main-fg #cdd6f4;

    @define-color wb-act-bg #a6adc8;
    @define-color wb-act-fg #313244;

    @define-color wb-hvr-bg #f5c2e7;
    @define-color wb-hvr-fg #313244;

    /* Group Styles */

/* Pill Styles */
/* @import "groups/pill.css";
@import "groups/pill-up.css";
@import "groups/pill-right.css";
@import "groups/pill-down.css";
@import "groups/pill-left.css";
@import "groups/pill-in.css";
@import "groups/pill-out.css"; */
/* Leaf Style */
/* @import "groups/leaf.css";
@import "groups/leaf-inverse.css"; */


/* Dynamic Stuff */
/*
"../../../" Use relative path to navigate $HOME $HOME/
*/
/* @import "../../../../.config/waybar/includes/border-radius.css";
@import "../../../../.config/waybar/includes/global.css"; */

/* Base HyDE Styles */

* {
    border-radius: 0em;
    font-family: "JetBrainsMono Nerd Font","JetBrainsMono Nerd Font";
    font-size: 10px;
    border-radius: 10pt 10pt 10pt 10pt;
}

window#waybar {
	color: @main-fg;
    background: @bar-bg;
}

/*
 These are groups/islands configs

*/

#pill {
    background-color: @main-bg;
    border-style: solid;
    border-color: @main-bg;
}





#workspaces button {
    box-shadow: none;
    text-shadow: none;
    padding: 0em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    margin-left: 0em;
    padding-left: 0.3em;
    padding-right: 0.3em;
    margin-right: 0em;
    color: @main-fg;
    animation: ws_normal 20s ease-in-out 1;
}

#workspaces button.active {
    background: @wb-act-bg;
    color: @wb-act-fg;
    margin-left: 0.3em;
    padding-left: 1.2em;
    padding-right: 1.2em;
    margin-right: 0.3em;
    animation: ws_active 20s ease-in-out 1;
    transition: all 0.4s cubic-bezier(.55, -0.68, .48, 1.682);
}

#workspaces button:hover {
    background: @wb-hvr-bg;
    color: @wb-hvr-fg;
    animation: ws_hover 20s ease-in-out 1;
    transition: all 0.3s cubic-bezier(.55, -0.68, .48, 1.682);
}

#taskbar button {
    box-shadow: none;
    text-shadow: none;
    padding: 0em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    margin-left: 0em;
    padding-left: 0.3em;
    padding-right: 0.3em;
    margin-right: 0em;
    color: @wb-color;
    animation: tb_normal 20s ease-in-out 1;
}

#taskbar button.active {
    background: @wb-act-bg;
    color: @wb-act-color;
    margin-left: 0.3em;
    padding-left: 1.2em;
    padding-right: 1.2em;
    margin-right: 0.3em;
    animation: tb_active 20s ease-in-out 1;
    transition: all 0.4s cubic-bezier(.55, -0.68, .48, 1.682);
}

#taskbar button:hover {
    background: @wb-hvr-bg;
    color: @wb-hvr-color;
    animation: tb_hover 20s ease-in-out 1;
    transition: all 0.3s cubic-bezier(.55, -0.68, .48, 1.682);
}



#workspaces,
#taskbar {
    padding: 0em;
}


window#waybar.top .modules-left,
window#waybar.top .modules-center,
window#waybar.top .modules-right,
window#waybar.bottom .modules-left,
window#waybar.bottom .modules-center,
window#waybar.bottom .modules-right {
    padding-left: 0.3em;
    padding-right: 0.3em;
    margin-left: 0.3em;
    margin-right: 0.3em;

}

window#waybar.top label.module,
window#waybar.bottom label.module {
    padding-left: 0.2em;
    padding-right: 0.2em;
    margin-left: 0.2em;
    margin-right: 0.2em;
}

window#waybar.bottom #pill,
window#waybar.top #pill {
    padding: 0em 1em;
}

window#waybar.bottom #pill,
window#waybar.bottom #pill button,
window#waybar.top #pill,
window#waybar.top #pill button {
    border-radius: 10pt 10pt 10pt 10pt;
    border-width: 0 0.411em;
}
window#waybar.top #pill,
window#waybar.bottom #pill {
    margin: 0.3em 0.3em 0.3em 0.3em;
}

/* ? Dynamic button */

window#waybar.top button,
window#waybar.bottom button {
    margin: 0.41em 0.11em;
    border: 0em;
     /* padding: 0.1em 0.5em;  */

}

tooltip {
    /* all: unset; */
    background: @main-bg;
    color: @main-fg;
    border-width: 1px;
    border-color: @main-fg ;
}

#tray menu * {
    min-height: 1.6em;

}

#tray menu separator {
    min-height: 0.1em;
}


#language {
    min-width: 1.11em;
}
